@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
  /* Font Properties  */
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --font-weight-md: 500;
  --font-weight-xb: 800;
  --font-size: 1rem;

  /* Colors */
  --clr-primary-red: hsl(1, 90%, 64%);
  --clr-primary-blue: hsl(219, 85%, 26%);
  --clr-white: hsl(0, 100%, 100%);
  --clr-gray-blue-100: hsl(210, 60%, 98%);
  --clr-gray-blue-200: hsl(211, 68%, 94%);
  --clr-gray-blue-300: hsl(205, 33%, 90%);
  --clr-gray-blue-500: hsl(219, 14%, 63%);
  --clr-gray-blue-800: hsl(219, 12%, 42%);
  --clr-gray-blue-900: hsl(224, 21%, 14%);

  /* Ratio sizes */
  --destop: 1440px;
  --mobile: 375px;

}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--clr-gray-blue-100);
}

* {
  /* font: inherit; */
  margin: 0;
  padding: 0;
}

ul[role="no-list"] {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  /* line-height: 1.5; */
  height: fit-content;
}


.text-bold {
  font-weight: var(--font-weight-xb);
}

.content {
  background-color: var(--clr-white);
  padding: 2rem;
  border-radius: 1rem;
  /* width: 100%; */
  max-width: 707px;
}

header {
  margin-bottom: 2rem;
}

.navigation > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.new-messages {
  padding: .125em .65em;
  background: var(--clr-primary-blue);
  border-radius: .325em;
  color: var(--clr-white);
}

.new-messages:empty {
  display: none;
}

.read-all {
  color: var(--clr-gray-blue-800);
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.notification {
  
  display: grid;
  padding: 1rem;
  padding-right: 3rem;
  grid-template-areas: 
    "image text"
    "image time";
  grid-column-gap: 1rem;
  border-radius: .5rem;
  justify-content: start;
}

.notification.unread {
  background-color: var(--clr-gray-blue-100);
}

.profile-icon {grid-area: image;}
.message-text {grid-area: text; position: relative; color: var(--clr-gray-blue-800);}
.notification time {grid-area: time; color: var(--clr-gray-blue-500);}

.profile-name {
  color: var(--clr-gray-blue-900);
  margin-right: .25em;
  text-transform: capitalize;
}

.post-name {
  color: var(--clr-gray-blue-800);
  margin-left: .25em;
}

.group-name {
  color: var(--clr-primary-blue);
  margin-left: .25em;
}

.notification.unread .message-text::after {
  position: absolute;
  content: "";
  width: 8px;
  aspect-ratio: 1;
  background-color: var(--clr-primary-red);
  border-radius: 50%;
  bottom: 0;
  translate: .5rem -50%;
}

.notification:has(p.private-message) {
  grid-template-areas: 
    "image text"
    "image time"
    "no message";
}

p.private-message {
  grid-area: message;
  padding: 1rem;
  border: 1px solid var(--clr-gray-blue-300);
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.notification:has(.post-image) {
  position: relative;
  padding-right: 6.5rem;
}

.post-image {
  position: absolute;
  right: 50px;
  top: 50%;
  translate: 0 -50%;
}

.post-image img {
  border: 3px solid transparent;
  border-radius: 0.75em;
}

/* Website interactions (:active and :hover) */

a:hover {
  color: var(--clr-primary-blue);
}

p.private-message:hover {
  background-color: var(--clr-gray-blue-200);
  border-color: var(--clr-gray-blue-200);
  cursor: pointer;
}



.post-image img:hover {
  border-color: var(--clr-gray-blue-300);
  cursor: pointer;
}
